In [1]:
import pandas as pd

# 將CSV檔讀入
df = pd.read_csv('C:/Users/student/期末project/02_fp_data_weather3/weather_info_12842.csv')
# 將資料轉成dataframe型態
df = pd.DataFrame(df)
# 印出有幾筆資料和欄位
print(df.shape)
# 選定其中兩欄
print(df[["snow_fall","snow_depth"]].values)
# 確認資料型態
df

(85187, 25)
[[nan nan]
 [nan nan]
 [nan nan]
 ...
 [nan nan]
 [nan nan]
 [nan nan]]

C:\Users\student\AppData\Local\Temp\ipykernel_9356\881252648.py:4: DtypeWarning: Columns (12,17,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/student/期末project/02_fp_data_weather3/weather_info_12842.csv')

,WBAN,date_year,date_month,date_date,time_hr,time_min,time_sec,sunrise_hr,sunrise_min,sunset_hr,...,snow_fall,snow_depth,relative_humidity,wind_dict,wind_speed,station_pressure,sealevel_pressure,pressure_change,pressure_tendency,visibility
0,12842,2017,1,1,0,53,0,7.0,22.0,17.0,...,NaN,NaN,78.0,000,NaN,30.15,30.16,0.01,8.0,7.00
1,12842,2017,1,1,1,0,0,7.0,22.0,17.0,...,NaN,NaN,78.0,000,NaN,30.12,30.16,0.01,8.0,6.84
2,12842,2017,1,1,1,53,0,7.0,22.0,17.0,...,NaN,NaN,81.0,000,NaN,30.15,30.16,NaN,NaN,7.00
3,12842,2017,1,1,2,53,0,7.0,22.0,17.0,...,NaN,NaN,78.0,000,NaN,30.14,30.15,NaN,NaN,6.00
4,12842,2017,1,1,3,53,0,7.0,22.0,17.0,...,NaN,NaN,81.0,110,NaN,30.13,30.14,0.02,8.0,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85182,12842,2023,3,5,11,53,0,NaN,NaN,NaN,...,NaN,NaN,72,230,NaN,NaN,30.1,NaN,NaN,10.00
85183,12842,2023,3,5,12,53,0,NaN,NaN,NaN,...,NaN,NaN,69,220,NaN,NaN,30.08,0.02,8.0,10.00
85184,12842,2023,3,5,13,0,0,NaN,NaN,NaN,...,NaN,NaN,69,220,NaN,30.05,30.08,0.02,8.0,9.94
85185,12842,2023,3,5,13,53,0,NaN,NaN,NaN,...,NaN,NaN,69,220,NaN,NaN,30.07,NaN,NaN,10.00
85186,12842,2023,3,5,14,53,0,NaN,NaN,NaN,...,NaN,NaN,59,270,NaN,NaN,30.06,NaN,NaN,10.00

# 空值補0

In [ ]:
# 將選定的兩個欄位中的NAN值補上0
df[["snow_fall","snow_depth"]] = df[["snow_fall","snow_depth"]].fillna(0)
# 確定補值後兩欄結果
print(df[["snow_fall","snow_depth"]].values)
# 確定補值後總表
df

# 空值補平均數(mean)

In [ ]:
# 將選定的兩欄代入新的變數
cols_to_fill = ["dry_bulb_temp", "wet_bulb_temp"]
# 將選定的兩欄補上mean值
df[cols_to_fill] = df[cols_to_fill].fillna(df[cols_to_fill].mean())
# 確定補值後兩欄結果
print(df[cols_to_fill].values)

# 空值補標準差(std)

In [ ]:
# 將選定的兩欄代入新的變數
cols_to_fill = ["dry_bulb_temp", "wet_bulb_temp"]
# 將選定的兩欄補上std值
df[cols_to_fill] = df[cols_to_fill].fillna(df[cols_to_fill].std())
# 確定補值後兩欄結果
print(df[cols_to_fill].values)

# 空值補插值法(interpolate)

In [3]:
import pandas as pd
import numpy as np
# 將資料轉換成浮點數
df['station_pressure'] = pd.to_numeric(df['station_pressure'], errors='coerce')
# 使用interpolate()方法進行線性插值
df['station_pressure'] = df['station_pressure'].interpolate(limit_direction = 'both', limit = 300)
df['station_pressure'] = df['station_pressure'].fillna(df['station_pressure'].mean())
df['station_pressure'].isna().sum()

0

**`df.interpolate()`** 是 Pandas DataFrame 的一個方法，用於對缺失值進行填充，其中針對每個缺失值，根據其前後的值進行線性插值。**`df.interpolate()`** 方法有很多可選的參數，下面是一些常見的參數：

- **`method`**：插值方法。可以選擇的方法有：**`linear`**（線性插值，預設值）、**`time`**（基於時間的插值）、**`nearest`**（最近鄰插值）、**`zero`**（使用零值進行插值）、**`slinear`**（一次樣條插值）、**`quadratic`**（二次樣條插值）、**`cubic`**（三次樣條插值）等等。
- **`axis`**：指定插值的軸。可以是 **`index`**（預設值）或 **`columns`**。
- **`limit`**：限制連續缺失值的最大數量。超過這個數量的缺失值將不進行插值。
- **`limit_direction`**：限制插值的方向。可以是 **`forward`**（向前插值）、**`backward`**（向後插值）或 **`both`**（向前和向後插值，預設值）。
- **`limit_area`**：限制插值的範圍。可以是 **`inside`**（只在有非缺失值的區域進行插值，預設值）或 **`outside`**（在整個 DataFrame 中進行插值）。

例如，使用 **`df.interpolate(method='linear', limit=2)`** 會對 DataFrame 進行線性插值，同時限制連續的最大缺失值數量為 2，超過這個數量的缺失值將不會進行插值。

# 亂數補值或刪除(去掉s留數字)
https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html

In [ ]:
import pandas as pd

# 創建一個包含數字欄位的DataFrame
df = pd.DataFrame({'欄位名稱': ['0.02s', '0.05s', '0.07s']})

# 使用str.extract()方法提取數字部分並保留兩位小數，True或者False的方式代表是DataFrame還是Seires
df['欄位名稱'] = df['欄位名稱'].str.extract('(\d+\.\d{2})', expand=True)

# 輸出結果
print(df)

# NaN頻率偵測

In [ ]:
import pandas as pd
import os

# 指定目錄檔路徑
path = 'C:/Users/student/期末project/02_fp_data_weather3'

# 取得目錄下所有的csv檔案的路徑
file_paths = [f for f in os.listdir(path) if f.endswith('.csv')]
# 選定計算NaN值的欄位名稱
column_name1 = "station_pressure"
#column_name2 = "dry_bulb_temp"
#column_name3 = "wet_bulb_temp"
#column_name4 = "dew_point_temp"
#column_name5 = "precipitation"
#column_name6 = "snow_fall"
#column_name7 = "snow_depth"
#column_name8 = "relative_humidity"
#column_name9 = "wind_dict"
#column_name10 = "wind_speed"
#column_name11 = "visibility"
#column_name12 = "sealevel_pressure"
#column_name13 = "pressure_change"
#column_name14 = "pressure_tendency"

# 創建空的 DataFrame
df_total = pd.DataFrame(columns=['file_path', 'nan_nums', 'nan_means', 'rows'])

# 讀取所有檔案，計算出每個檔案中選定欄位的NaN數量
for file_path in file_paths:
    
    # load csv檔案為 DataFrame 對象
    file_path = os.path.join(path, file_path)
    df = pd.read_csv(file_path, encoding="utf-8")
    # 計算選定欄位中NaN的數量
    nan_nums = df[column_name1].isna().sum()
    # 計算選定欄位中NaN的平均
    nan_means = df[column_name1].isna().mean()
    #print(type(nan_nums))
    
    # 計算 DataFrame 的 row 數量
    rows = df.shape[0]
    
    # 如果NaN數量輸出到控制台
    #print("NaN數量 {} ".format(nan_nums))
    # 將檔案名稱和NaN數量加入 DataFrame 中
    df_total = df_total.append({'file_path': file_path, 'nan_nums': nan_nums, 'nan_means': nan_means, 'rows': rows }, ignore_index=True)

# 將 DataFrame 寫入到文本檔中
df_total.to_csv(f"{path}/NaN值總表station_pressure.csv", index=False, encoding="utf-8")